<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Contendor_LGP" connectionString="metadata=res://*/Persistencia.ModeloDatos.csdl|res://*/Persistencia.ModeloDatos.ssdl|res://*/Persistencia.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2e;initial catalog=PROD_LGP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>