<?xml version="1.0" encoding="utf-8" ?>

<!-- Especificar el nombre de la conexión a utilizar, en el atributo de configuración 'Conexión' en la sección <appSettings>. Ejemplo: -->
<!-- <add key="Conexion" value="Contendor_LGP_MF"/> -->

<connectionStrings>

 
  <add name="Contendor_LGP2012" connectionString="metadata=res://*/Persistencia.ModeloDatos.csdl|res://*/Persistencia.ModeloDatos.ssdl|res://*/Persistencia.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NACHONTK\SQLEXPRESS2012;initial catalog=PROD_LGP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Contendor_LGP" connectionString="metadata=res://*/Persistencia.ModeloDatos.csdl|res://*/Persistencia.ModeloDatos.ssdl|res://*/Persistencia.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NACHONTK\SQL2008R2E;initial catalog=PROD_LGP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Contendor_LGP_playa" connectionString="metadata=res://*/Persistencia.ModeloDatos.csdl|res://*/Persistencia.ModeloDatos.ssdl|res://*/Persistencia.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RUBENSANCHEZ-PC\SQL2008R2E;initial catalog=PROD_LGP;user=sa;password=RNC@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  <!--
    <add name="Contendor_LGP" connectionString="metadata=res://*/Persistencia.ModeloDatos.csdl|res://*/Persistencia.ModeloDatos.ssdl|res://*/Persistencia.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RNCSERVER\SERVERSQL;initial catalog=PROD_LGP;persist security info=True;user id=sa;password=RNC@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->

</connectionStrings>
