<?xml version="1.0" encoding="utf-8" ?>
<Reportes url-servidor="http://nachontk/rs">
  <!--<Reportes url-servidor="http://localhost/ReportServer">-->
<!--<Reportes url-servidor="http://rncserver/rs">-->
  <reportes>
    <!--
    <reporte Key="R0" nombre="Reporte de Test" reporte="/Test/Report1" prms="qwaezwesrxerdtc">
            <prmtrs>
                <prmtr Key="p1" Value="1" />
                <prmtr Key="p2" Value="2" />
                <prmtr Key="p3" Value="3" />
            </prmtrs>
        </reporte>
    -->
      <reporte Key="R0" nombre="Ficha de cliente" 
               reporte="/LGP.Reportes/rpt_DatosClientesMensuales" prms="qwaezwesrxerdtc" />
      <reporte Key="R1" nombre="Listado de clientes mensuales" 
               reporte="/LGP.Reportes/rpt_ListadoClientesMensuales_All" prms="qwaezwesrxerdtc" />
      <reporte Key="R2" nombre="Listado de empleados" 
               reporte="/LGP.Reportes/rpt_ListadoEmpleados" prms="qwaezwesrxerdtc" />
      <reporte Key="R3" nombre="Informe de Pagos mensuales por mes" 
               reporte="/LGP.Reportes/rpt_DetallePeriodoCobroMensuales" prms="qwaezwesrxerdtc" />
      <reporte Key="R4" nombre="Informe de Pagos mensuales por periodo" 
               reporte="/LGP.Reportes/rpt_DetallePeriodoCobroMensualesPorFechas" prms="qwaezwesrxerdtc" />
      <reporte Key="R5" nombre="Infomre Resumen de Pagos mensuales por periodo" 
               reporte="/LGP.Reportes/rpt_ResumenPeriodoCobroMensuales" prms="qwaezwesrxerdtc" />
      <reporte Key="R6" nombre="Listado de cocheras"
               reporte="/LGP.Reportes/rpt_ListadoCocheras" prms="qwaezwesrxerdtc" />
      <reporte Key="R7" nombre="Informe de pagos"
           reporte="/LGP.Reportes/rpt_DetallePagoEmpleados" prms="qwaezwesrxerdtc" />
      <reporte Key="R8" nombre="Estado servicios por Cliente"
           reporte="/LGP.Reportes/rpt_Estado_Cliente" prms="qwaezwesrxerdtc" />
  </reportes>
</Reportes>
